<html>
<head>

    <style>
        button{
            display: block;
        }
     </style>
</head>
<body>
<section>
    <h1>Choose a Character</h1>
    <!--<button data-char="0">Create a New Character</button>-->
    <button data-char="1">Cealinor Ferush</button>
    <button data-char="2">Fimron Shilto</button>
    <button data-char="8">Tek Croon</button>
</section>
<script>
    const electron = require('electron');
    const { ipcRenderer, remote } = electron;

    // handle selecting an existing character
    var buttons = document.querySelectorAll('section > button');
    for(var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', (event) => {
            console.log(event.target.dataset.char);
            if(event.target.dataset.char == 0){
                ipcRenderer.send('character:new',{});
            }else{
                ipcRenderer.send('character:load',{'cId':event.target.dataset.char});
            }
            var window = remote.getCurrentWindow();
            window.close();
            //window.hide();
        });
    }

    // snippets
//    ipcRenderer.send('character:add', name);
//    ipcRenderer.on('thing:action', (event, data) => {
//        console.log('I got data:', data);
//    });
</script>
</body>
</html>